.DS_Store
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
xcuserdata
*.xccheckout
build/
*.o
*.LinkFileList
*.hmap
*~.nib/
*.swp
*~
*.dat
*.dep
.idea/
*.iml
*.swo
report
Docset
release_notes.md
Build/
DerivedData/
Package/
xcuserdata/

# Calabash and Cucumber
.irb-history
screenshot_*.png
.calabash_device_config.yml
*.ipa
*.app.dSYM.zip

# Fastlane
reports/
fastlane/report.xml
